GOOGLE_MAPS_ANDROID_API_KEY=tu_google_maps_android_api_key
GOOGLE_MAPS_IOS_API_KEY=tu_google_maps_ios_api_key
ADMOB_ANDROID_APP_ID=ca-app-pub-xxxxxxxxxxxxxxxx~yyyyyyyyyy
ADMOB_ANDROID_BANNER_UNIT_ID=ca-app-pub-xxxxxxxxxxxxxxxx/yyyyyyyyyy
ADMOB_IOS_APP_ID=ca-app-pub-xxxxxxxxxxxxxxxx~yyyyyyyyyy
ADMOB_IOS_BANNER_UNIT_ID=ca-app-pub-xxxxxxxxxxxxxxxx/yyyyyyyyyy
ADMOB_BANNER_HEIGHT=60
